body, html {
	height: 100%;
	margin: 0;
 	font-family: Arial;
}

.tablink {
	background-color: gray;
	color: black;
 	float: left;
 	border-top: 1px solid black;
	border-right: 1px solid black;
	border-left: 1px solid black;
 	cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 10%;
	margin-top: 10px;
	margin-left: 5px;
	text-align: center;
}

.tabcontent {
	border: 1px solid black;
	position: relative;
	top: 61px;
 	color: black;
  display: none;
  padding: 100px 20px;
  height: 75%;
	width: 95%;
}

.buttons {
	position: absolute;
	left: 400px;
	top: 108px;
	height: 4%;
	width: 8%;	
}

button:focus {outline:0;}
#userInput {
	position: absolute;
	left: 150px;
	top: 110px;
	width: 15%;
	height: 3%;
}

#save {
	left: 550px;
	top: 600px;
}

#add {
  left: 550px;
  top: 176px;
  height: 3%;
  width: 8%;
  display: none;
}

#existingForm {
  left: 160px;  
}

#saveData {
	left: 550px;
	top: 600px;
}

.defaultForm {
  margin: 10px;
  justify-content: space-around;
}

.labels {
  margin: 10px;
  justify-content: space-around;
}

.radios {
  margin: 10px;
  justify-content: space-around;
}
